.admin-menu {
    --border-width: 6px;

    display: flex;
    flex-flow: column nowrap;
}

.admin-menu-link {
    display: block;
    padding: 0.4em 1em;
    line-height: 1.2;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left-width: var(--border-width);
    border-left-color: transparent;
    transition: border-color var(--speed) ease-in-out;
    color: var(--text-base);

    &.indented {
        padding-left: 2em;
    }

    .admin-menu-section.expanded &:not(.active) {
        border-color: var(--border-base-4);
    }

    &:hover {
        background-color: var(--bg-base-3);
    }

    &.active {
        font-weight: bold;
        background-color: var(--bg-base-3);
        border-color: var(--link-base);
        color: var(--link-base);

        &:hover {
            background-color: var(--bg-base-4);
        }
    }
}

.admin-menu-section {
    position: relative;
}

.admin-menu-section-button {
    @extend .admin-menu-link;
    width: 100%;
    text-align: left;

    .admin-menu-section.expanded & {
        border-color: var(--border-base-4);
    }
}

.admin-menu-section-indicator {
    position: absolute;
    top: .25em;
    right: 1em;
    pointer-events: none;
    transition: transform 0.2s ease-in-out;

    .admin-menu-section.expanded & {
        transform: rotate(90deg);
    }
}

.admin-menu-section-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--speed) ease-in-out;

    .admin-menu-section.expanded & {
        grid-template-rows: 1fr;
    }
}

.admin-menu-section-contents {
    overflow: hidden;
}
