/* Admin override styles for Pax.Interface.Index components */

.pax-index {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.pax-index-body {
    flex: 1;
    overflow-y: auto;
}

.pax-index-table-wrapper {
    height: 100%;
}

.pax-index-table-wrapper[tabindex]:focus-visible {
    outline-offset: -2px;
}
