/* Admin override styles for Pax.Interface.Index components */

.pax-detail {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    font-size: 0.875em;
}

.pax-detail-body {
    flex: 1;
    overflow-y: auto;
}

.pax-detail-fieldset {}

.pax-detail-fieldset-heading {
    padding: 0.5em 1em;
    background-color: var(--bg-base-2);
    border-bottom: 1px solid var(--border-base-2);
}

.pax-detail-fieldgroup {}

.pax-detail-fieldset-body {
    padding: 0 1em;
}

.pax-detail-field {}
