.pax-header {
    padding: 0.5em 1em;
    background-color: var(--bg-base-2);
    border-bottom: 1px solid var(--border-base-2);
    min-height: 3.75em;

    // TODO: once we have the actionbar in, remove the margin by uncommenting this line:
    //margin-bottom: 0;
}

.pax-header-primary {
    align-items: center;
}
