/* Admin override styles for Pax.Interface.Detail components */

.pax-detail {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.pax-detail-body {
    flex: 1;
    overflow-y: auto;
}
