.pax-field-label {
    font-weight: bold;
}

.pax-field-errors {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    margin-top: .5em;
}

.pax-field-error {
    background-color: var(--bg-error);
    color: var(--color-error);
    padding: 0.2em 0.5em;
    border-radius: var(--radius);
}
