/* Minimal styling for Pax components
   The goal here is to provide a basic amount of layout and structure without any opinionated styling. For the most
   part, the components should just adapt to the existing styles of the page they're on.
*/

/*****************/
/* Pax Variables */
/*****************/

.pax {
    /* Generic spacing used in a few places */
    --pax-spacing: 1em;
}


/*******************/
/* Misc Components */
/*******************/

.pax-button-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--pax-spacing) * .5);
}

.pax-button {
    display: block;
}

.pax-button[disabled] {
    /* Prevent links masquerading as buttons from being clickable when disabled */
    pointer-events: none;
}

/**************/
/* Pax Header */
/**************/

.pax-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: calc(var(--pax-spacing) * 2);
    margin-bottom: calc(var(--pax-spacing) * 1);
}

.pax-header-leading, .pax-header-trailing {
    flex: 0 1 min-content;
}

.pax-header-title {
    flex: 1 1 0%;
    font-size: 1.75em;
    margin-right: auto;
    line-height: 1.2;
}

.pax-header-marquee {
    flex: 1 1 0%;
    margin-left: auto;
    margin-right: auto;
}

.pax-header-tools {
    flex: 1 1 0%;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: calc(var(--pax-spacing) * 0.5);
}

/************************/
/* Pax Index Components */
/************************/

.pax-table-wrapper {
    overflow-x: auto;
}
.pax-table-wrapper:focus {
    /* Default to an outline that matches webkit default for a11y */
    outline: 2px solid #101010;
}

.pax-index-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.pax-index-table-header {
    text-align: left;
    vertical-align: bottom;
}

.pax-index-table-datacell {
    vertical-align: top;
}

/*************************/
/* Pax Detail Components */
/*************************/

.pax-detail-fieldset {
    margin-bottom: calc(var(--pax-spacing) * 1);
}

.pax-detail-fieldset-heading {
    font-size: 1.5em;
    margin-bottom: calc(var(--pax-spacing) * 1);
}

.pax-detail-fieldgroup {
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 640px) {
    .pax-detail-fieldgroup {
        flex-flow: row wrap;
        gap: calc(var(--pax-spacing) * 0.5) calc(var(--pax-spacing) * 2);
    }
}

.pax-detail-field {
    flex: 1 0 0%;
    display: flex;
    flex-flow: column nowrap;
}

.pax-detail-field {
    margin-bottom: 1em;
}

/************************/
/* Pax Field Components */
/************************/

.pax-field-label {
    margin-bottom: .2em;
}

.pax-field-control-input {
    /* Set the <input> to 100% width so that it isn't fixed in
       width (most browser defaults) and causes wrapping problems */
    width: 100%
}

/* Hide and show the checkbox values based on the input's checked state */
.pax-field-control-checkbox~.pax-field-control-checkbox-true {
    display: none;
}

.pax-field-control-checkbox~.pax-field-control-checkbox-false {
    display: inline;
}

.pax-field-control-checkbox:checked~.pax-field-control-checkbox-true {
    display: inline;
}

.pax-field-control-checkbox:checked~.pax-field-control-checkbox-false {
    display: none;
}

/* Hide errors if the field hasn't been interacted with yet, which is set by phx-feedback-for */
.phx-no-feedback .pax-field-error {
    display: none;
}
