/* Minimal styling for Pax components
   The goal here is to provide a basic amount of layout and structure without any opinionated styling. For the most
   part, the components should just adapt to the existing styles of the page they're on.
*/

/* Pax Index */

.pax-index {}

.pax-table-wrapper {
    overflow-x: auto;
}

.pax-index-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    /* 14px when body is 16px */
    font-size: .875em;
}

.pax-index-table-head {}

.pax-index-table-head::after {
    content: '';
    display: table-row;
    height: .5em;
}

.pax-index-table-head-row {}

.pax-index-table-header {
    font-weight: bold;
    padding: 1em .5em;
    text-align: left;
    vertical-align: bottom;
    background: rgba(0, 0, 0, 0.1);
}

.pax-index-table-row {}

.pax-index-table-row:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}

.pax-index-table-datacell {
    padding: .1em .5em;
    vertical-align: top;
}

/* Pax Detail */
.pax-detail {}

.pax-detail-fieldset {}

.pax-detail-fieldset:not(:last-child) {
    margin-bottom: 2em;
}

.pax-detail-fieldset-heading {
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background: rgba(0, 0, 0, 0.1);
}

.pax-detail-fieldset-row {
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 640px) {
    .pax-detail-fieldset-row {
        flex-flow: row wrap;
        gap: 0.5em 1em;
        padding: 0.5em 0;
    }

    .pax-detail-fieldset-row:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}


.pax-detail-field {
    flex: 1 0 0%;
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 640px) {
    .pax-detail-field {
        flex-flow: row nowrap;
        column-gap: 0.5em;
    }
}

.pax-detail-field-title {
    font-weight: bold;
}

@media (min-width: 640px) {
    .pax-detail-field-title {
        font-weight: bold;
        width: 8em;
    }
}

.pax-detail-field-text {
    margin-bottom: 0.5em;
}

@media (min-width: 640px) {
    .pax-detail-field-text {
        margin-bottom: 0;
    }
}
