/* CSS for Pax.Interface.Detail components */

.pax-detail-fieldset {
    margin-bottom: var(--pax-spacing);
}

.pax-detail-fieldset-heading {
    margin-bottom: var(--pax-spacing);
}

.pax-detail-fieldgroup {
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 640px) {
    .pax-detail-fieldgroup {
        flex-flow: row wrap;
        gap: 0 calc(var(--pax-spacing) * 2);
    }
}

.pax-detail-field {
    flex: 1 0 0%;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: var(--pax-spacing);
}
