/* CSS for Pax.Field components */

.pax-field-label {
    margin-bottom: calc(var(--pax-spacing) * 0.2);
}

.pax-field-control-input {
    /* Set the <input> to 100% width so that it isn't fixed in
       width (most browser defaults) and causes wrapping problems */
    width: 100%;
}

/* Hide and show the checkbox values based on the input's checked state */
.pax-field-control-checkbox~.pax-field-control-checkbox-true {
    display: none;
}

.pax-field-control-checkbox~.pax-field-control-checkbox-false {
    display: inline;
}

.pax-field-control-checkbox:checked~.pax-field-control-checkbox-true {
    display: inline;
}

.pax-field-control-checkbox:checked~.pax-field-control-checkbox-false {
    display: none;
}
