/* Enable responsive support for tables to allow scrolling horizontally if the table can't fit in the viewport */
.pax-table-wrapper {
    overflow-x: auto;
}

/* Make the table accessible by adding `role="region" aria-label="Index table" tabindex="0"` to the wrapper */
.pax-table-wrapper[tabindex]:focus-visible {
    /* Default to an outline that matches webkit default for a11y */
    outline: auto;
}

.pax-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.pax-table-header {
    text-align: left;
    vertical-align: bottom;
}

.pax-table-datacell {
    vertical-align: top;
}
