.pax-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--pax-spacing) * 2);
    margin-top: var(--pax-spacing);
}

.pax-footer-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: calc(var(--pax-spacing) * 1);
}

.pax-footer-primary {
    order: 1;
}

.pax-footer-secondary {
    order: 3;
}

.pax-footer-tertiary {
    order: 2;
}
