/* Main layout for all admin pages. */

/* Import the basic Preflight css reset borrowed from Tailwind. Besides being a reasonable set of defaults, it
   also ensures that plugins or custom components using tailwind will function as expected. */
@use 'preflight.css';

/* Base styles for the admin sites */
@use 'base/typography.scss';
@use 'base/layout.scss';

/* Component styles */
@use 'components/admin-title.scss';
@use 'components/admin-header.scss';
@use 'components/admin-breadcrumbs.scss';
@use 'components/admin-sidebar.scss';
@use 'components/admin-menu.scss';
@use 'components/admin-loading.scss';

/* Pax component styles */
@use 'components/pax-header.scss';
@use 'components/pax-footer.scss';
@use 'components/pax-title.scss';
@use 'components/pax-button.scss';
@use 'components/pax-badge.scss';
@use 'components/pax-table-wrapper.scss';
@use 'components/pax-field.scss';
@use 'components/pax-input.scss';
@use 'components/pax-checkbox.scss';
@use 'components/pax-select.scss';
@use 'components/pax-index.scss';
@use 'components/pax-detail.scss';

/* Pax Plugin styles */
@use 'plugins/pax-pagination.scss';

/* Variables for just the admin pages */
:root {
    --speed: 0.2s;
    --radius: 4px;

    // Base colors, mostly main backgrounds. Lighter -> darker
    --bg-base-1: hsl(204, 5%, 97%);
    --bg-base-2: hsl(204, 5%, 94%);
    --bg-base-3: hsl(204, 5%, 91%);
    --bg-base-4: hsl(204, 5%, 88%);

    --border-base-1: hsl(204, 5%, 91%);
    --border-base-2: hsl(204, 5%, 88%);
    --border-base-3: hsl(204, 5%, 85%);
    --border-base-4: hsl(204, 5%, 82%);

    --text-base: hsl(204, 5%, 20%);
    --text-base-muted: hsl(204, 5%, 45%);
    --text-base-error: hsl(0, 75%, 60%);
    --link-base: hsl(204, 75%, 35%);
    --link-base-hover: hsl(204, 70%, 30%);
    --link-disabled: hsl(204, 5%, 70%);

    // Primary colors, mostly for the main admin header
    --bg-primary-1: hsl(204, 75%, 20%);
    --bg-primary-2: hsl(204, 80%, 15%);

    --text-primary: hsl(204, 5%, 90%);
    --link-primary: hsl(204, 70%, 70%);
    --link-primary-hover: hsl(204, 70%, 80%);

    // Button colors
    --bg-button-1: hsl(204, 75%, 25%);
    --bg-button-2: hsl(204, 5%, 40%);

    --bg-button-hover-1: hsl(204, 75%, 20%);
    --bg-button-hover-2: hsl(204, 5%, 35%);

    --text-button: hsl(204, 5%, 90%);

    // Badge colors
    --bg-badge: hsl(204, 75%, 50%);
    --color-badge: hsl(204, 75%, 98%);

    // Input colors
    --bg-input: hsl(204, 5%, 97%);
    --bg-input-error: hsl(0, 75%, 90%);
    --color-input: hsl(204, 5%, 20%);
    --border-input: hsl(204, 5%, 85%);
    --border-input-error: hsl(0, 75%, 60%);

    // Error pills
    --bg-error: hsl(0, 75%, 60%);
    --color-error: hsl(0, 75%, 98%);

    // Focus ring color
    --border-focus: hsl(204, 75%, 50%);
    --border-focus-error: hsl(0, 100%, 85%);
}

@media (prefers-color-scheme: dark) {
    :root {
        // Dark mode: darker -> lighter
        --bg-base-1: hsl(204, 5%, 13%);
        --bg-base-2: hsl(204, 5%, 16%);
        --bg-base-3: hsl(204, 5%, 19%);
        --bg-base-4: hsl(204, 5%, 22%);

        --border-base-1: hsl(204, 5%, 17%);
        --border-base-2: hsl(204, 5%, 20%);
        --border-base-3: hsl(204, 5%, 23%);
        --border-base-4: hsl(204, 5%, 26%);

        --text-base: hsl(204, 5%, 85%);
        --text-base-muted: hsl(204, 5%, 60%);
        --link-base: hsl(204, 75%, 70%);
        --link-base-hover: hsl(204, 70%, 80%);
        --link-disabled: hsl(204, 5%, 30%);

        // Swap the two primary background colors to match darker -> lighter scheme
        --bg-primary-1: hsl(204, 75%, 15%);
        --bg-primary-2: hsl(204, 85%, 20%);

        // Lighten the button colors for contrast against dark background
        --bg-button-1: hsl(204, 75%, 30%);
        --bg-button-2: hsl(204, 5%, 40%);

        --bg-button-hover-1: hsl(204, 75%, 35%);
        --bg-button-hover-2: hsl(204, 5%, 45%);

        // Lighten the badge colors for contrast against dark background
        --bg-badge: hsl(204, 75%, 75%);
        --color-badge: hsl(204, 75%, 10%);

        // Input colors darker
        --bg-input: hsl(204, 5%, 13%);
        --bg-input-error: hsl(0, 40%, 20%);
        --color-input: hsl(204, 5%, 85%);
        --border-input: hsl(204, 5%, 40%);
        --border-input-error: hsl(0, 75%, 40%);

        // Error pills darker
        --bg-error: hsl(0, 75%, 40%);
        --color-error: hsl(0, 75%, 98%);
    }
}
