body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: bold;
    color: var(--link-base);

    &:hover {
        color: var(--link-base-hover);
        text-decoration: underline;
    }

    &:focus-visible {
        outline: 2px solid var(--border-focus);
    }
}
