body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: bold;
    color: var(--link-base);

    &:hover,
    &:focus {
        color: var(--link-base-hover);
    }
}
