/* Minimal styling for Pax components
   The goal here is to provide a basic amount of layout and structure without any opinionated styling. For the most
   part, the components should just adapt to the existing styles of the page they're on.
*/

@use './components/pax-header.scss';
@use './components/pax-footer.scss';
@use './components/pax-title.scss';
@use './components/pax-button.scss';
@use './components/pax-badge.scss';
@use './components/pax-table-wrapper.scss';
@use './components/pax-field.scss';
@use './components/pax-icon.scss';

/* Included Plugins */

@use './plugins/pax-breadcrumbs.scss';
@use './plugins/pax-pagination.scss';
@use './plugins/pax-index-table.scss';
@use './plugins/pax-detail-list.scss';
@use './plugins/pax-detail-fieldsets.scss';

/* Variables for use in all Pax CSS. Easily override this in your own CSS on the .pax class */
.pax-interface {
    /* Generic spacing used in a few places */
    --pax-spacing: 1em;
}

.pax-loading {
    margin: calc(var(--pax-spacing) * 2);
    font-size: 1.5em;
    text-align: center;
}
